:root {
  --sdbar-bg-col: #1992d4;
  --header-bg-col: #fff;
  --gray-bg: #f0f2f5;

  --proj-comp-border-col: #f4c542;
  --btn-bg-col: var(--sdbar-bg-col);
  --proj-comp-bg: var(--header-bg-col);

  --text-secondary: #000;
  --text-primary: #6b7280;
  --text-sdbar-col: #fff;

  --font-stack: roboto, system-ui, sans-serif;
  --text-bold: bold;

  --spacer-sm: 1rem;
  --spacer-md: 2rem;
  --spacer-lg: 4.7rem;

  --icon-h: 4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-stack);
  font-synthesis: none;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--text-primary);
  box-sizing: border-box;
  height: 100vh;
}

.grid-body {
  display: grid;
  grid-template: auto 1fr/ minmax(auto, 1fr) 4fr;
  background: var(--gray-bg);
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: max-content;
  gap: 3rem 2rem;
  background: var(--header-bg-col);
  padding: var(--spacer-md) var(--spacer-lg);
  margin-bottom: var(--spacer-md);
}

/* SEARCH SECTION */
.search-sect {
  display: flex;
  align-items: center;
  gap: 1rem;

  height: max-content;

  .search-sect__icon-box {
    height: var(--icon-h);
  }

  input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: var(--gray-bg);
    font-family: inherit;
    width: max(30rem, 100%);
    font-size: 2rem;
    border-radius: 10rem;
    padding: 1.5rem;
    box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

    &:focus-visible {
      outline: 1px solid var(--sdbar-bg-col);
      outline-offset: 0.5rem;
    }
  }
}

/* PROFILE SECTION*/
.profile-sect {
  --profile-h: 6rem;
  --profile-w: var(--profile-h);
  --profile-main-text-s: 2rem;
  --profile-gap: 3.5rem;

  width: max-content;
  height: max-content;
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  column-gap: var(--profile-gap);
  color: var(--text-secondary);

  .avat-profile-pic-box {
    width: var(--profile-w);
    height: var(--profile-h);
    border-radius: 100%;
    overflow: hidden;
  }

  .profile__sect-uname {
    font-size: var(--profile-main-text-s);
    font-weight: var(--text-bold);
  }

  .notif-bell-box {
    height: var(--icon-h);
  }
}

.profile-sect.profile-sect--lg {
  --profile-h: 10rem;
  --profile-gap: 2.5rem;
  --profile-main-text-s: 2.8rem;
  justify-self: start;

  span {
    display: block;
    font-size: 1.8rem;
  }
}

/* BUTTON SECTION*/
.header__redirect-btns {
  list-style: none;
  display: flex;
  gap: 2rem;
  place-self: center;
  flex-wrap: wrap;
}

.btn{
  font-weight: var(--text-bold);
  padding: var(--spacer-sm) calc(var(--spacer-md) * 2);
  font-size: 2.3rem;
  border-radius: 10rem;
  background: var(--btn-bg-col);
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color .1s;

  &:link, &:visited {
    text-decoration: none;
    color: var(--text-sdbar-col)
  };

  &:hover, &:focus-visible {
    background: rgb(19, 110, 160);
    box-shadow: 0 .1rem .5rem 0 rgba(0, 0, 0, 0.2);
  }
}

/* SIDEBAR SECTION */
.sdbar {
  background: var(--sdbar-bg-col);
  color: var(--text-sdbar-col);
  padding: var(--spacer-md);
  grid-area: 1 /1 / -1/ 2;
  font-weight: var(--text-bold);

  .sdbar__row {
    display: grid;
    grid-template-columns: 9.5rem 1fr;
    align-items: center;

    &:not(&:last-of-type) {
      margin-bottom: var(--spacer-lg);
    }

    .sdbar__log-box {
      height: 9rem;
    }

    .sdbar__logo-text {
      font-size: 4rem;
    }

    .sdbar__icon-box {
      height: 3.5rem;
      justify-self: center;
    }

    p {
      font-size: 2rem;
    }

    :not(p:last-of-type) {
      margin-bottom: var(--spacer-md);
    }
  }
}

.grid-main {
  display: grid;
  grid-template: auto 1fr / 2fr 1fr;
  margin-left: var(--spacer-md);

  .grid-main__header {
    color: var(--text-secondary);
    font-size: 2.5rem;
    height: min-content;
    margin-bottom: var(--spacer-sm);
  }
}

.projs {
  display: grid;
  grid-template-columns: repeat(auto-fill, 47rem);
  align-items: start;
  grid-auto-rows: 30rem;
  gap: 2.5rem;

  .projs__card {
    display: flex;
    flex-direction: column;
    background: var(--proj-comp-bg);
    padding: calc(var(--spacer-md) * 1.5) calc(var(--spacer-sm) * 2) ;
    border-radius: 1rem;
    border-left: 1rem solid var(--proj-comp-border-col);
    height: 100%;

    .projs__card-para {
      flex: 1;
    }

    .projs-card-icons {
      display: flex;
      justify-content: flex-end;
      gap: 1.5rem;

      .projs__card-icon {
        height: var(--icon-h);
      }
    }
  }



}